@{
    ViewBag.Title = "Información, términos y condiciones";
}
@section meta {
    <meta name="description" content="Página de información y, términos y condiciones" />
    <meta name="keywords" content="Información, términos, condiciones" />
    <link rel="canonical" href="@Url.Action("Info", "Servicio", null,Uri.UriSchemeHttps, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
}
<section id="content_area">
			<div class="clearfix wrapper main_content_area">
			<div class="clearfix main_content floatleft">
				<div class="clearfix wrapper main_content_area">
    <div class="clearfix main_content floatleft">
        <div class="clearfix content">
            <div class="content_title">
                <h2>
                    Informacion, y terminos y condiciones</h2>
            </div>
            <div class="single_work_page clearfix">
                 <div class="single_work_page_content">
  
<p><strong>Términos y condiciones de uso</strong></p>


<p>A continuación se encuentran los términos y condiciones (“Términos y Condiciones”) de la página web ubicada en http://www.viajeroxdefinicion.com ("La pagina").

Toda persona que acceda, utilice y navegue por la página (“Usuario”), debé cumplir y respetar los Términos y Condiciones de uso provistos por el administrador del sitio web (el “Administrador”). Si no acuerda total o parcialmente adherir a los Términos y Condiciones, no acceda, utilice, navegue o se suscriba al contenido de la página.
</p>

<ul>
<li>
<p><strong>I. Descripción General dla Página</strong></p>
<ul><li>
<p>La página tiene como fin la provisión de un espacio virtual para la publicación, por parte del Administrador, de todo tipo de contenido relacionado a la planificacion, estructura, optimización y realización de viajes.(“Publicaciones”).
</p></li><li><p>
El contenido de las Publicaciones nunca debe ser interpretado como un ofrecimiento directo de servicios, o garantias brindadas por el administrador. El material publicado es de carácter informativo, teórico y meramente orientativo. Las Publicaciones no deben considerarse una oferta de productos o servicios y la Página no se hace responsable por el acatamiento de cualquier instruccion que pudiera darse en los mismos, todos ellos incluidos al sólo título informativo.
</p></li><li><p>
La lectura, comentario y/o copia de una parte o la totalidad de las Publicaciones de este sitio web crean ningún tipo de relación comercial o de consumo entre el Usuario y la Página. Esta limitación también alcanza a la respuesta a los comentarios publicados de Usuarios de la Página.
</p></li></ul>
</li>
<li>
<p><strong>II. Comentarios y Foro</strong></p>
<ul>
<li>
<p>
<strong>A. Descripción General de la Aplicación de Comentarios y Foro</strong>
</p>
<ul>
<li>
<p>
Los Usuarios podrán realizar comentarios a todos los textos publicados en la Página (“Comentarios”), llenando los datos que se requieren en el formulario. Para realizar Comentarios, es obligación del Usuario proveer información verdadera y actualizada sobre su persona y que responda a los requerimientos del formulario de suscripción. Los Usuarios son exclusivamente responsables por la veracidad de los datos suministrados.
</p>
</li>
<li>
<p>
Al momento de realizar un Comentario, la Página requerirá que el Usuario brinde su nombre y dirección de correo electrónico. De forma autómatica se registrará la dirección de IP del Usuario al momento de realizar el Comentario.
</p>
</li>
<li>
<p>
Los datos voluntariamente suministrados por los Usuarios se recolectan para identificar al autor de Comentario. Queda publicado en la Página el nombre del Usuario. Para evitar correos no solicitados, no es objeto de publicación el correo electrónico del Usuario.
</p>
</li>
<li>
<p>
Se recomienda a los Usuarios que no incluyan datos personales en los Cometarios. Si los Usuarios eligen suministrar y publicar sus datos e informaciones en cualquier sección de la Página, los mismos autorizan al mismo a archivar, reproducir, copiar y almacenar lo publicado para que estén disponibles en la Página. Los Usuarios le otorgan al Administrador, sobre sus propios datos e informaciones, el derecho a reproducir total o parcialmente, conservar copias archivadas y a eliminar los datos e informaciones, sin necesidad de requerir nuevamente su consentimiento.
</p>
</li>
<li>
<p>
El Usuario mantendrá indemne al Administrador por todos los reclamos, acciones judiciales o extrajudiciales, denuncias administrativas o demandas que puedan surgir de terceros en relación a la publicación de sus datos e informaciones.
</p>
</li>
<li>
<p>
El Administrador podrá revisar los datos e informaciones, ya sea por su propia iniciativa o en virtud de una denuncia de terceros, y estará facultado a eliminar o retirar sin previo aviso cualquier Contenido que a su exclusivo criterio infrinja los Términos y Condiciones y la ley o las buenas costumbres.
</p>
</li>
</ul>
</li>
<li>
<p>
<strong>B. Uso Permitido de los Comentarios</strong>
</p>
<ul>
<li>
<p>
Sólo se permite el uso de la aplicación de Comentarios si se respetan los presentes Términos y Condiciones y la ley aplicable. Se consideran usos prohibidos y los Usuarios se obligan a no utilizar los comentarios para:
</p>
</li>
<li>
<p>
<ul>
<li>a) Recolectar direcciones de correo electrónico de los Usuarios o terceros, por cualquier medio con el fin de enviar spam, publicidad no solicitada o no autorizada, cartas encadenadas, o cualquier otro tipo de comunicaciones ilícitas;</li>
<li>b) Generar, transmitir, compartir, archivar o facilitar cualquier contenido que se considere dañino, amenazante, ilegal, difamatorio, abusivo, acosador, obsceno, fraudulento, y/o que vulnere el derecho a la intimidad, derecho a la privacidad y/o que pueda llegar a contener elementos discriminatorios por motivos de raza, religión, etnia, inclinación sexual, ideas políticas o cualquier otro;</li>
<li>c) Generar, transmitir, compartir, archivar o facilitar cualquier contenido que se destinen a publicitar o difundir ilícitos.</li>
<li>d) Generar, transmitir, compartir, archivar o facilitar cualquier contenido que vulneren derechos de autor o cualquier otra propiedad intelectual del Administrador o de terceros;</li>
<li>e) Realizar manifestaciones falsas o proporcionar información falsa sobre cualquier cuestión;</li>
<li>f) Generar, transmitir, compartir, archivar o facilitar sin autorización de su titular, datos personales de cualquier tercero, incluyendo domicilios, números de teléfono, direcciones de correo electrónico, números de documento o pasaporte, números de tarjetas de crédito y cualquier tipo de dato personal en los términos de la Ley Nº 25.326;</li>
<li>g) Cargar, publicar, transmitir, compartir o facilitar material que contenga virus informáticos o cualquier otro código, archivo o programa informático diseñado para interrumpir, destruir o limitar la funcionalidad de cualquier software o hardware o equipo de telecomunicaciones;</li>
<li>h) Realizar Prácticas intimidatorias o de acoso en contra de cualquier persona;</li>
<li>i) Usar cualquiera de los servicios provistos en forma contraria a los Términos y Condiciones, Políticas de Privacidad, la ley y las buenas costumbres, o de cualquier forma que pueda dañar, desprestigiar, sobrecargar o perjudicar al Administrador o a terceros;</li>
</ul></p>
</li>
<li>
<p>
El presente listado de conductas prohibidas es una enunciación meramente ejemplicativa de las infracciones que pueden cometer los Usuarios.
</p>
</li>
</ul>
</li>
<li>
<p>
<strong>C. Responsabilidad por los Contenidos Publicados</strong>
</p>
<ul>
<li>
<p>
Los Usuarios son exclusivamente responsables por los contenidos (textos, sonidos, fotografías, dibujos, etc.) generados, publicados, transmitidos, compartidos, archivados o facilitados en los Comentarios (“Contenidos de Usuarios”). Los Usuarios no podrán publicar, transmitir, compartir o archivar Contenidos de Usuarios en la Página, que no hayan creado por si o que no estén debidamente autorizados a reproducir.
</p>
</li>
<li>
<p>
Los Contenidos de Usuarios son de exclusiva propiedad y autoría de los Usuarios. Los Usuarios no están obligados a generar y publicar Contenidos de Usuarios. Si los Usuarios eligen publicar Contenidos de Usuarios, los mismos autorizan al Administrador a archivar, reproducir, copiar, eliminar y almacenar los mismos para que estén disponibles en la Página.
</p>
</li>
<li>
<p>
El Usuario mantendrá indemne al Administrador por todos los reclamos, acciones judiciales o extrajudiciales, denuncias administrativas o demandas que puedan surgir de terceros en relación a la publicación de Contenidos de Usuarios.
</p>
</li>
<li>
<p>
El Administrador podrá revisar los Contenidos de Usuarios, ya sea por su propia iniciativa o en virtud de una denuncia de terceros, y estará facultado a eliminar o retirar sin previo aviso cualquier contenido que a su exclusivo criterio infrinja los Términos y Condiciones, la ley o las buenas costumbres.
</p>
</li>
</ul>
</li>
</ul>

<li>
<p>
<strong>III. Derechos del Usuario</strong>
</p>
<ul>
<li>
<p>
<strong>A. Derechos de Acceso, Rectificación y Supresión de Datos Personales</strong>
</p>
<ul>
<li>
<p>
Los Usuarios y Visitantes tienen la facultad de ejercer el derecho de acceso, rectificación, bloqueo o supresión de los datos personales que hayan sido suministrados a la Página personalmente o través de un tercero. Se aclara, que estos derechos sólo podrán ejercerse sobre aquellas informaciones que puedan considerarse datos personales en los términos de la Ley Nº25.326.
</p>
</li>
<li>
<p>
Para ejercer cualquiera de estos derechos, el Usuario o Visitante deberá enviar un correo electrónico a mail@viajeroxdefinicion.com detallando su nombre y apellido, número de DNI, su solicitud y razones del ejercicio de su derecho. Una vez cumplido con los extremos anteriormente detallados y si correspondiera hacer lugar al pedido, el Administrador le comunicará al Usuario dentro de los 5 días hábiles posteriores a la recepción de la solicitud si ha procedido a dar lugar a la misma o si rechaza el pedido.
</p>
</li>
<li>
<p>
La DIRECCION NACIONAL DE PROTECCION DE DATOS PERSONALES, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.
</p>
</li>
</ul>
</li>
<li>
<p>
<strong>B. Denuncias</strong>
</p>
<ul>
<li>
<p>
En caso de que cualquier Usuario sostenga que en la Página podría haber una violación a sus derechos o tuviese cualquier otro reclamo, podrá dirigir tal denuncia a la siguiente dirección de correo electrónico: mail@viajeroxdefinicion.com.
</p>
</li>
</ul>
</li>
</ul>
</li>
<li>
<p>
<strong>IV. Derechos del Administrador dla Página</strong>
</p>
<ul>
<li>
<p>
<strong>A. Propiedad Intelectual y Derechos de Autor</strong>
</p>
<ul>
<li>
<p>
El Administrador es titular de la propiedad intelectual y derechos de autor sobre los diseños, textos, marcas, gráficos, imágenes, videos, software, música, sonidos y otros contenidos existentes en la Página, excluyendo los Contenidos de Usuarios (“Contenidos del Administrador”).
</p>
</li>
<li>
<p>
Los Contenidos del Administrador no podrán ser objeto de modificaciones, copias, duplicados o imitaciones y tampoco podrán ser reproducidos, descargados, publicados, transmitidos o vendidos total o parcialmente, sin el previo consentimiento por escrito del Administrador.
</p>
</li>
<li>
<p>
Los Usuarios no podrán cargar o republicar Contenido del Administrador en ningún otro sitio de Internet o cualquier otro medio de publicación, ni integrar la información en ninguna otra base de datos o compilación. Sólo se les concede el derecho a los Usuarios a realizar copias, descargas e impresiones del Contenidos del Administrador, siempre que sean para uso personal y se mantengan intactos todos sus derechos de autor y propiedad intelectual. Esta licencia podrá ser revocada en cualquier momento y sin preaviso, con o sin causa. Salvo esta última excepción, nada de lo dispuesto en los presentes Términos y Condiciones deberá interpretarse en el sentido de otorgar una licencia sobre derechos de propiedad intelectual, implícitamente o de cualquier otra forma.
</p>
</li>
</ul>
</li>
<li>
<p>
<strong>B. Cancelación</strong>
</p>
<ul>
<li>
<p>
El Administrador tiene la facultad de dar de baja, con o sin expresión de causa, cualquier suscripción, Contenidos de Usuarios, Contenidos del Administrador en cualquier momento sin previo aviso. El Administrador no incurre en ningún tipo de responsabilidad por la cancelación.
</p>
</li>
</ul>
</li>
<li>
<p>
<strong>C. Alcance de la Responsabilidad</strong>
</p>
<ul>
<li>
<p>
El Administrador no es responsable por:
</p>
<ul>
<li>
<p>
1. Ningún Contenido de Usuario o Conductas en violación de los Terminos y Condiciones: Los Usuarios son exclusivamente responsables por los contenidos generados y el Administrador no controla, asesora, condiciona, dirige o encarga a los Usuarios la creación, redacción y publicación de Contenidos de Usuarios. El Administrador ha establecido en las presentes Políticas de Privacidad, los lineamientos para el legal uso de los servicios prestados en el sitio. El Administrador no es responsable de la conducta ilegal de ningún Usuario.
</p>
</li>
<li>
<p>
2. EN NINGÚN CASO la Página O EL ADMINISTRADOR SERÁ RESPONSABLE POR DAÑOS Y PERJUICIOS DIRECTOS, INDIRECTOS, IMPREVISTOS, MEDIATOS O PUNITORIOS, QUE RESULTEN DE ALGÚN ASPECTO DEL USO QUE EL USUARIO HAGA DE LAS PUBLICACIONES. ASIMISMO, NO SERÁN RESPONSABLES POR LOS DAÑOS Y PERJUICIOS SURJAN A PARTIR DEL USO O EL MAL USO Dla Página, O ANTE LA INCAPACIDAD DE UTILIZAR EL SITIO, O LA INTERRUPCIÓN, SUSPENSIÓN, MODIFICACIÓN, ALTERACIÓN O CANCELACIÓN DEL MISMO. ASIMISMO, EL ADMINISTRADOR EN NINGÚN CASO SERÁ RESPONSABLE POR LOS DAÑOS Y PERJUICIOS DIRECTOS, INDIRECTOS, IMPREVISTOS, MEDIATOS O PUNITORIOS CAUSADOS POR LAS TRANSACCIONES COMERCIALES QUE SE ENTABLEN ENTRE LOS USUARIOS Y LAS COMPAÑÍAS DE LINEAS AEREAS, AGENCIAS DE VIAJE U OTROS OFERENTES O TITULARES DE PROMOCIONES, CUPONES U OTRO TIPO DE DESCUENTOS DE TARIFAS AEREAS.
</p>
</li>
<li>
<p>
3. EXCENCIÓN DE GARANTÍAS: EL USUARIO EXPRESAMENTE CONVIENE EN QUE EL USO Dla Página Y LOS SERVICIOS ES COMPLETAMENTE BAJO SU RESPONSABILIDAD. la Página SE PROPORCIONA EN UNA BASE “COMO ES” O BIEN “COMO SE ENCUENTRA DISPONIBLE”, SIN GARANTÍA ALGUNA. la Página Y SU ADMINISTRADOR NO GARANTIZAN NI REPRESENTA LA CERTEZA, EXACTITUD O PUNTUALIDAD DEL CONTENIDO DEL SITIO, CONTENIDOS DE USUARIOS, O EL SERVICIO ACCEDIDO A TRAVÉS DE LOS ENLACES EN EL SITIO Y TAMPOCO ASUME RESPONSABILIDAD ALGUNA POR (I) ERRORES, IMPRECISIONES DEL CONTENIDO PROPIO O CONTENIDOS DE USUARIOS, (II) DAÑO PERSONAL O DAÑO A PROPIEDADES, O DAÑO DE CUALQUIER NATURALEZA QUE RESULTE DE SU ACCESO Y/O USO DEL SITIO (III) ACCESO Y/O USO SIN AUTORIZACION DE NUESTROS SERVIDORES SEGUROS Y/O A CUALQUIER INFORMACION PERSONAL ALMACENADA EN LOS MISMOS (IV) CUALQUIER INTERRUPCION O CESACION DE TRANSMISION DESDE O HACIA EL SITIO (V) CUALQUIER FALLA, VIRUS, TROYANO O SIMILAR QUE PUEDA SER TRANSMITIDO DESDE O A TRAVES DE NUESTRO SITIO POR UN TERCERO, Y/O (VI) CUALQUIER ERROR U OMISION EN EL CONTENIDO O POR CUALQUIER PERDIDA O DAÑO DE CUALQUIER TIPO EN EL CUAL SE HAYA INCURRIDO COMO RESULTADO DEL USO DEL CONTENIDO POSTEADO EN EL SITIO, EMAIL ENVIADO A TRAVES DEL SITIO, TRANSMITIDO O HECHO DISPONIBLE A TRAVES DE NUESTRO SITIO.
</p>
</li>
<li>
<p>
3. La Página Y SU ADMINISTRADOR NO GARANTIZAN, NI SE ADHIEREN, NI ASUMEN RESPONSABILIDAD POR NINGUN PRODUCTO, O SERVICIO PUBLICITADO U OFRECIDO POR LOS USUARIOS O TERCEROS, YA QUE NO SON PARTICIPES NI EN NINGUNA FORMA RESPONSABLE DE MONITOREAR LAS TRANSACCIONES ENTRE LOS USUARIOS Y TERCEROS QUE OFREZCAN PRODUCTOS O SERVICIOS. DURANTE LA COMPRA DE UN PRODUCTO O SERVICIO A TRAVES DE CUALQUIER MEDIO O EN CUALQUIER CIRCUNSTANCIA, LOS USUARIOS DEBERAN USAR SU MEJOR CRITERIO Y EJERCITAR PRECAUCION EN CASO DE SER NECESARIO.
</p>
</li>
<li>
<p>
4. Incumplimientos o Fallas técnicas. El Administrador no es responsable por errores, omisiones, interrupciones, eliminaciones, defectos, retrasos de funcionamiento o de transmisión, fallos de la línea de comunicaciones, robos, destrucción, acceso no autorizado o alteración de las comunicaciones del Usuario.
</p>
</li>
<li>
<p>
5. Contenido de Terceros. El Administrador provee reenvíos a páginas de Internet pertenecientes a terceros, a través de pancartas (banners) y publicidades. El Administrador no controla o administra de forma alguna las páginas de Internet de terceros que se puedan acceder desde la Página. Cuando abandone la Páginaa, los Usuarios ya no gozarán de los derechos y obligaciones de los presentes Términos y Condiciones y deberán leer y aceptar los términos de uso de las páginas de Internet que visiten. Asimismo, el Administrador no se hace responsable por cookies permanentes y/o transitorias, Spyware, malware o cualquier otro software que instalen terceros en las PCs de los Usuarios.
</p>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li>
<p>
<strong>V. Denuncias</strong>
</p>
<ul>
<li>
<p>
En caso de que cualquier Usuario sostenga que en la Página podría haber una violación a los Términos y Condiciones o algún Contenido del Administrador o de Usuarios podría estar en violación a sus derechos de autor, propiedad intelectual, derechos de imagen o tuviese cualquier otro reclamo, podrá dirigir tal denuncia a la siguiente dirección de correo electrónico: paargentina@hotmail.com.
</p>
</li>
</ul>
</li>
<li>
<p>
<strong>VI. Miscellanea</strong>
</p>
<ul>
<li>
<p>
<strong>A. Ley Applicable</strong>
</p>
<ul>
<li>
<p>
Los presentes Términos y Condiciones deben ser interpretados conforme a las leyes de la República Argentina, excluyendo la aplicación de cualquier norma de conflicto que reenvíe a la aplicación de otra ley.
</p>
</li>
</ul>
</li>
<li>
<p>
<strong>B. Jurisdicción</strong>
</p>
<ul>
<li>
<p>
Todas las controversias que deriven de estos Términos y Condiciones o que guarden relación con éstos serán resueltas definitivamente por los tribunales ordinarios de la Ciudad Autónoma de Buenos Aires, con renuncia a cualquier otro fuero o jurisdicción.
</p>
</li>
</ul>
</li>
<li>
<p>
<strong>C. Separabilidad</strong>
</p>
<ul>
<li>
<p>
Si alguna cláusula de los Términos y Condiciones es considerado nulo, anulable o inoponible, esto último no afectará ninguna otra cláusula del presente documento. Consecuentemente, los Términos y Condiciones deberán ser modificados en el grado necesario para dar ejecución a las demás provisiones del presente.
     </p>  
     </li>
     </ul>
     </li>
     </ul>
     </li>
     </ul>
     
              </div>
            </div>
           
        </div>
    </div>
</div>
					
					
					
				</div>
				<div class="clearfix sidebar_container floatright">
				
					@Html.Partial("_Subscribe")
					<div class="clearfix sidebar">
						
					</div>
				</div>
			</div>
		</section>
