<!DOCTYPE html>
<html>
<head>
@RenderSection("meta")
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet'
        type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/Content/css/tooltipster.css" />
    <!-- home slider-->
    <link href="~/Content/css/pgwslider.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">
    <link href="~/Content/style.css" rel="stylesheet" media="screen">
    <link href="~/Content/responsive.css" rel="stylesheet" media="screen">
</head>
<body>
    <section id="header_area">
			<div class="wrapper header">
				<div class="clearfix header_top">
					<div class="clearfix logo floatleft">
						<a href=""><h1><span>Viajero</span> X definición!</h1></a>
					</div>
					<div class="clearfix search floatright">
                    @using (Html.BeginForm("Search", "Servicio", FormMethod.Post))
                    {
					        <input type="text"  id="searchCriteia" name="searchCriteria" placeholder="Buscar"/>
							<input type="submit" />
						
                    }
					</div>
				</div>
				<div class="header_bottom">
					<nav>
						<ul id="nav">
							<li><a href="/Articulos/Lista">Inicio</a></li>
							<li><a href="/Articulos/VuelosBaratos">Transporte al costo mas bajo</a></li>
							<li><a href="/Articulos/Experiencias">Sus experiencias</a></li>
                            <li><a href="/Articulos/Tips">Tips para planificar tu viaje</a></li>
                            <li id="dropdown"><a>Qué ver en cada destino?</a>
								  @Html.Action("LocationCategory", "Articulos", null)
							</li>
							<li><a href="/Servicio/Info">Más sobre nosotros</a></li>
							<li><a href="/Servicio/Contacto">Contacto</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</section>
    @RenderBody()
    <section id="footer_top_area">
			<div class="clearfix wrapper footer_top">
				<div class="clearfix footer_top_container">
					<div class="clearfix single_footer_top floatleft">
						<h2><a href="/Servicio/Info">Nosotros</a></h2>
						<p>Un lugar para aprender como planear y ejecutar tu viaje, enterarte todos los tips y consejos para bajar los costos y compartir con otros, tus experiencias.</p>
					</div>
					<div class="clearfix single_footer_top floatleft">
						
						<p><a href="/Servicio/Info">Términos y condiciones</a></p>
					</div>
					<div class="clearfix single_footer_top floatleft">
						<h2>Leé lo que mas te interesa!</h2>
						<ul>
						<li><a href="/Articulos/Lista">Inicio</a></li>
							<li><a href="/Articulos/VuelosBaratos">Transporte al costo mas bajo</a></li>
							<li><a href="/Articulos/Experiencias">Sus experiencias</a></li>
                            <li><a href="/Articulos/Tips">Tips para planificar tu viaje</a></li>
							<li><a href="/Servicio/Info">Más sobre nosotros</a></li>
							<li><a href="/Servicio/Contacto">Contacto</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
    <section id="footer_bottom_area">
			<div class="clearfix wrapper footer_bottom divContainerCentered">
				
				<div class="clearfix social floatcenter">
					<ul>
						<li><a class="tooltip" title="Facebook" href="https://www.facebook.com/ViajeroXDefinicion"><i class="fa fa-facebook-square"></i></a></li>
						<li><a class="tooltip" title="Twitter" href="https://twitter.com/ViajeroXDef"><i class="fa fa-twitter-square"></i></a></li>
						<li><a class="tooltip" title="Google+" href="https://plus.google.com/u/0/b/117763198009445754155/117763198009445754155/about"><i class="fa fa-google-plus-square"></i></a></li>
												
					</ul>
				</div>
			</div>
		</section>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Custom/jquery.tooltipster.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tooltip').tooltipster();
        });
    </script>
    <script type="text/javascript" src="~/Scripts/Custom/selectnav.js"></script>
    <script type="text/javascript">
        selectnav('nav', {
            label: '-Navigation-',
            nested: true,
            indent: '-'
        });
    </script>
    <script src="~/Scripts/Custom/pgwslider.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.pgwSlider').pgwSlider({

                intervalDuration: 5000

            });
        });
    </script>
    <script type="text/javascript" src="~/Scripts/Custom/placeholder_support_IE.js"></script>
    <script src="~/Scripts/Custom/Custom.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>
</html>
